
footer.flex{
    justify-content: space-between;
    padding-bottom: 1.9rem;
}

footer.flex ul{
    gap: 1rem;
}


footer.flex ul a{
    color: var(--subtitle);
    font-size: 0.9rem;
    font-weight: 400;
}


footer.flex ul a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}






