
section.hero{
margin-top: 3rem;
}

/* left-section in hero */

section.hero .parent-avatar.flex{
    align-items: end;
    gap:0.6rem;
}


section.hero .left-section {
    flex-grow: 1;
}

section.hero .icon-verified{
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border: 1px solid black ;
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(241, 233, 233, 0.249) inset;
    
}

section.hero h1.title{
font-size: 2.3rem;
line-height: 3.3rem;
margin: 24px 0;
color: var(--title);
}

section.hero p.subtitle{
    color: var(--subtitle);
    font-size: 0.9rem;
    line-height: 1.65rem;
    margin-bottom: 32px;

}

section.hero .all-icons{
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
    
}

section.hero .all-icons .icon:hover{
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
   
}


/* right-section animation*/


